<h5>Search Hotel</h5>





 <%= form_tag 'query', method: :get, class: "navbar-form navbar-left search-form" do %>
  <%= text_field_tag(
      :search,
      params[:location],
      placeholder: "Search",
      class: "form-control",
      id: "autocomplete"
  ) %>
<% end %>



<script type="text/javascript">

var availableTags = [
  "Gangtok",
  "Ravangla",
  "Pelling",
  "Kalimpong",
  "Darjeeling",
  "Siliguri"
];
$( "#autocomplete" ).autocomplete({
	source: availableTags
});

</script>
