<h1>This is the search result of the location</h1>
<%= @location.name %>
  <div class="container">
    <div class="row">

<% @location.hotels.each do |hotel| %>
<div class="col-md-4">
  <div class="hotel">
          <%= link_to (image_tag (hotel.name.downcase+".jpg")), hotel_path(hotel), class: "img-responsive" %>
          <%= link_to hotel.name, hotel_path(hotel) %>
          <%= hotel.address %>
        </div>
      </div>

<% end %>
</div>
</div>
